  @font-face {
    font-family: 'Codec Cold';
    src: url('/assets/fonts/Codec-Cold-Regular-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Codec Cold';
    src: url('/assets/fonts/Codec-Cold-Bold-trial.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  .cursos-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 40px;
      margin-left: 40px;  
    }
    
    .cursos-text {
      flex: 1;
      padding-right: 20px; 
      font-family: 'Codec Cold', sans-serif;
      margin-top: 40px;
      margin-left: 40px;
    }
    
    .cursos-content {
      display: flex;
      align-items: flex-start;
      
    }
    
    .extra-image {
      margin-top: 20px;
      width: 2.2px; 
      height: auto; 
      margin-right: 10px; 
    }
    
    .cursos-image {
      flex: 1;
      display: flex;
      justify-content: flex-end; 
      align-items: flex-start;
    }
    
    .cursos-image img {
      max-width: 100%;
      height: auto;
    }
    
    .check-icon {
      width: 24px;
      height: 24px;
    }
    
    .cursos-text ul {
      list-style: none;
      padding: 0;
    }
    
    .cursos-text li {
      display: flex;
      align-items: center; 
      margin-bottom: 40px; 
      color: white;
      font-size: 20px;
      margin-left: 30px;
    }
    
    .cursos-text li img {
      margin-right: 10px; 
    }
    
    .cursos-text h3 {
      font-size: 24px; 
      color: white; 
      text-align: left;
    }
    
    .cursos-text h3 span {
      color: #FFCE76; 
    }

    .button-container {
      display: flex;
      justify-content: flex-start; 
      width: 100%; 
    }
    
    .cursos-text button {
      background-color: #FFCE76; 
      color: #011F3F; 
      border: 2px solid #011F3F; 
      padding: 10px 20px;
      cursor: pointer;
      width: 160px; 
      height: 42px; 
      font-size: 16px; 
      border-radius: 30px; 
      font-family: 'Codec Cold', sans-serif; 
      margin-top: 20px; 
    }
    
    .cursos-text button:hover {
      background-color: #e6b85e; 
    }

    @media (max-width: 768px) {
      .cursos-container {
        margin-left: 20px;
        margin-right: 20px;
      }
    
      .cursos-text {
        margin-top: 20px;
      }
    
      .extra-image {
        display: none; /* Oculta la imagen en tablets */
      }
    
      .cursos-text ul {
        margin: 0; /* Elimina el margen predeterminado */
        padding: 0; /* Elimina el padding predeterminado */
      }
    
      .cursos-text li {
        font-size: 16px; /* Tamaño de fuente ligeramente más grande que en móviles */
        margin-bottom: 20px; /* Reduce el margen inferior */
        display: flex;
        align-items: center; /* Alinea el ícono y el texto verticalmente */
      }
    
      .cursos-text h3 {
        font-size: 22px; /* Tamaño de título ligeramente más grande que en móviles */
      }
    
      .cursos-text button {
        width: 140px; /* Ancho del botón ligeramente más grande que en móviles */
        height: 38px;
        font-size: 14px; /* Tamaño de fuente ligeramente más grande que en móviles */
      }
    
      .cursos-image img {
        display: none; /* Oculta la imagen en tablets */
      }
    }
    
    @media (max-width: 480px) {
      .cursos-container {
        display: flex;
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
        margin-top: 20px; /* Reduce el margen superior */
        margin-left: 10px; /* Reduce el margen izquierdo */
        margin-right: 10px; /* Reduce el margen derecho */
      }
    
      .cursos-text {
        margin-top: 18px; /* Reduce el margen superior */
        margin-left: 0; /* Elimina el margen izquierdo */
        padding-right: 0; /* Elimina el padding derecho */
        width: 100%; /* Ocupa el 100% del ancho disponible */
        width: 100%; /* Ocupa el 100% del ancho disponible */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
      }
    
      .cursos-text h3 {
        font-size: 20px; /* Tamaño del título */
        text-align: left; /* Alinea el título a la izquierda */
        margin-bottom: 10px; /* Añade un margen inferior al título */
      }
    
      .cursos-text ul {
        margin: 0; /* Elimina el margen predeterminado */
        padding: 0; /* Elimina el padding predeterminado */
        width: 100%; /* Ocupa el 100% del ancho disponible */
      }
    
      .cursos-text li {
        font-size: 13px; /* Tamaño de la fuente */
        margin-bottom: 10px; /* Reduce el margen inferior */
        display: flex;
        align-items: center; /* Alinea el ícono y el texto verticalmente */
        margin-left: 0; /* Elimina el margen izquierdo */
      }
    
      .cursos-text li img {
        margin-right: 10px; /* Espacio entre el ícono y el texto */
      }
    
      .cursos-text button {
        width: 120px; /* Ancho del botón */
        height: 36px; /* Altura del botón */
        font-size: 12px; /* Tamaño de la fuente */
        margin-top: 15px; /* Reduce el margen superior */
        align-self: flex-start; /* Alinea el botón a la izquierda */
      }
    }