@font-face {
  font-family: 'Codec Cold';
  src: url('/assets/fonts/Codec-Cold-Regular-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Codec Cold';
  src: url('/assets/fonts/Codec-Cold-Bold-trial.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.comprar-curso-card {
    background-color: white; 
    color: black; 
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 40px;
    margin-left: 0;
    font-family: 'Codec Cold', sans-serif;
    font-weight: bold;
  }
  
  .comprar-curso-button {
    background-color: #FFCE76; 
    color: #011F3F; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 306px;
    height: 67px;
    font-size: 22px;
    border-radius: 16px;
    font-family: 'Codec Cold', sans-serif;
    font-weight: normal;
  }
  
  .comprar-curso-button:hover {
    background-color: #e6b85e; 
  }