@font-face {
  font-family: 'Codec Cold';
  src: url('/assets/fonts/Codec-Cold-Regular-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Codec Cold';
  src: url('/assets/fonts/Codec-Cold-Bold-trial.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.card-services {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }
  
  .card-text {
    flex: 1;
    padding-right: 20px; 
  }
  
  .card-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .card-image img {
    max-width: 100%;
    height: auto;
  }

  .custom-image {
    width: 548.67px;
    height: 472px;
  }
  
  .title-services {
    color: white;
    font-size: 48px;
    font-family: 'Codec Cold', sans-serif;
    font-weight: bold;
    text-align: left;
    max-width: 550px; 
    word-wrap: break-word; 
    line-height: 1.5; 
  }
  
  p {
    color: white;
    font-size: 19px;
    font-family: 'Codec Cold', sans-serif;
    font-weight: normal;
    text-align: left;
    max-width: 550px; 
    word-wrap: break-word; 
    line-height: 1.5; 
  }

  /* Media Queries para responsive design */
  @media (max-width: 768px) {
    .card-services {
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .title-services {
      font-size: 20px;
      margin-top: 140px;
      max-width: 350px;
      word-wrap: break-word;
      line-height: 1.5;
      text-align: left; /* Alinear texto a la izquierda */
      margin-left: 0; /* Eliminar margen izquierdo */
      padding-left: 0; /* Eliminar padding izquierdo */
    }
  
    p {
      font-size: 14px;
      max-width: 350px;
      word-wrap: break-word;
      line-height: 1.5;
      text-align: left; /* Alinear texto a la izquierda */
      margin-left: 0; /* Eliminar margen izquierdo */
      padding-left: 0; /* Eliminar padding izquierdo */
    }
  
    .custom-image {
      width: 348.67px;
      height: 472px;
    }
  }

  @media (max-width: 480px) {
    .card-services {
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .title-services {
      font-size: 20px;
      margin-top: 160px;
      max-width: 350px;
      word-wrap: break-word;
      line-height: 1.5;
      text-align: left; /* Alinear texto a la izquierda */
      margin-left: 0; /* Eliminar margen izquierdo */
      padding-left: 0; /* Eliminar padding izquierdo */
    }
  
    p {
      font-size: 14px;
      max-width: 350px;
      word-wrap: break-word;
      line-height: 1.5;
      text-align: left; /* Alinear texto a la izquierda */
      margin-left: 0; /* Eliminar margen izquierdo */
      padding-left: 0; /* Eliminar padding izquierdo */
    }
  
    .custom-image {
      width: 348.67px;
      height: 472px;
    }
  }